<% content_for :head do %>
    <%= stylesheet_link_tag "tags" %>
<% end %>

<% if !@tag.nil? %>
<% if @tag.errors.any? %>
	<% @tag.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
<% end %>
<% end %>

<%= form_for(:tag, :url => {:controller => "display", :action => 'createTag', :photo_id => @photo}) do |f| %>
<div>
   <div class="tagCanvas" id="tagCanvas">
   <img class="photoImg" src="/images/<%= @photo.file_name %>" alt="Photo of <%= @user.first_name %>"/>
   
   </div>
   <br>
   <%  users_array = User.all.map { |user| [user.first_name + " " + user.last_name, user.id]} %>
   <%= f.select(:user_id, users_array) %>
   <%= hidden_field_tag :photo_id, @photo.id %>
   <%= hidden_field_tag :x_coord %>
   <%= hidden_field_tag :y_coord %>
   <%= hidden_field_tag :width %>
   <%= hidden_field_tag :height %>
   <%= f.submit "Submit" %>
</div>
<% end %>

<div class="tagFeedbackDiv tagDiv" id="tagFeedbackDiv"></div>
<script type="text/javascript">

   //<![CDATA[
      tag1 = new Tagger("tagCanvas", "tagFeedbackDiv", "x_coord", "y_coord", "width", "height");
      //tag1.getX();
      
   //]]>
</script>
