<% content_for :head do %>
    <%= stylesheet_link_tag "photos" %>
    <%= stylesheet_link_tag "comments" %>
    <%= stylesheet_link_tag "tags" %>
<% end %>

<% if @photo %>

    <% @pageTitle = @photo.user.first_name + "'s Photo" %>

    <div class="clearBothDiv"></div>

    <div class="photoPanel">

        <% if !@logged_in and @photo.tags.size == 0 %>
            <img class="photoImg photoImgLarge cntr-div" src="/images/<%= @photo.file_name %>" alt="Photo of <%= @photo.user.first_name %>"/>
            <div class="photoFooter">Date Created: <%= @photo.date_time.getlocal.to_formatted_s(:long) %></div>
        <% else %>
            <div class="photoLeftColumn">
                <div class="tagCanvas">
                    <img class="photoImg photoImgLarge" src="/images/<%= @photo.file_name %>" alt="Photo of <%= @photo.user.first_name %>"/>
                    <% @photo.tags.each do |tag| %>
                        <div class="tagName" id="tagName-<%= tag.id.to_s %>" style="left: <%= tag.x_coord %>px; top: <%= tag.y_coord - 26 %>px;">
                          <%= tag.user.first_name %>
                        </div>
                        <div class="tagDiv" id="tagDiv-<%= tag.id.to_s %>" style="left: <%= tag.x_coord %>px; top: <%= tag.y_coord %>px; width: <%= tag.width %>px; height: <%= tag.height %>px;">
                        </div>
                    <% end %>
                </div>
                <div class="photoFooter">Date Created: <%= @photo.date_time.getlocal.to_formatted_s(:long) %></div>
            </div>

            <div class="photoRightColumn">

                <% if @photo.tags.size > 0 %>
                    <p>People tagged</p>
                    <% photo.tags.each do |tag| %>

                        <%= render("tag", :tag => tag) %>

                    <% end %>

            </div>

            <div class="clearBothDiv"></div>
        <% end %>
    </div>

    <% if @logged_in or @photo.comments.size > 0 %>
        <div class="commentCenteredContainer">
            <h2 class="contentSubtitle" >Comments</h2>

            <% @photo.comments.each do |comment| %>

                <%= render("comment", :comment => comment) %>

            <% end %>

            <!-- only show the add new comment option to logged in users -->
            
        </div>
    <% end %>


    <script type="text/javascript">
        //<![CDATA[
        <% @photo.tags.each do |tag| %>
            var tagDiv = document.getElementById('tagDiv-' + <%= tag.id %>);

            tagDiv.onmouseover = function (){
                var tagName = document.getElementById('tagName-' + <%= tag.id %>);
                tagName.style.display = "block";
            }
            tagDiv.onmouseout = function (){
                var tagName = document.getElementById('tagName-' + <%= tag.id %>);
                tagName.style.display = "none";
            }
        <% end %>
        //]]>
    </script>

<% else %>
    <% @pageTitle = "Photo not found" %>

<% end %>
