<!DOCTYPE html>
<html>
  <head>
    <title>Project5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "display.js" %>
    <%= javascript_include_tag "ajax.js" %>
    
  </head>

  <body>
  <div>
        <a href="/user/logout">Log out</a>
    </div>
    <%= yield  %>
    

    
  </body>
</html>
